{% extends "layout.html" %}

{% block title %}
    Record 
{% endblock %}

{% block main %}
    <div class="container-md"> 
      <h1> Welcome to Expense Tracker! </h1>
    </div>
    <br>
    <div class="card border-dark mb-3">
        <div class="card-header">
          <h5 class="card-title"> Monthly Income </h5>
        </div>
        <div class="card-body">
          <p class="card-text"> {{ monthly_income }} </p>
        </div>
      </div>
      <br>
      <div class="card border-dark mb-3">
        <div class="card-header">
          <h5 class="card-title"> This Month's Expenses </h5>
        </div>
        <div class="card-body">
          <p class="card-text"> {{ expenses_for_this_month }} </p>
        </div>
      </div>
      <br>
      <div class="card border-dark mb-3">
        <div class="card-header">
          <h5 class="card-title"> Category With Most Expenses </h5>
        </div>
        <div class="card-body">
          <p class="card-text"> {{ category_with_most_expenses }} </p>
        </div>
      </div>
      <br>
      <div class="card border-dark mb-3">
        <div class="card-header">
          <h5 class="card-title"> Monthly Budget </h5>
        </div>
        <div class="card-body">
          <p class="card-text"> {{ monthly_budget }} </p>
        </div>
      </div>
{% endblock %} 